<nav class="menu">
    <ul>

        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="#">CRUDS</a>
            <ul>
                <li>
                    <a href="/productos">Productos</a>
                </li>

                <li>
                    <a href="/clientes">Clientes</a>
                </li>

                <li>
                    <a href="/empleados">Empleados</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/empleo">Empleo</a>
        </li>

        <li>
            <a href="#">Pedidos</a>
            <ul>
                <li>
                    <a href="/pedidos/nuevo">Nuevo Pedido</a>
                </li>

                <li>
                    <a href="/pedidos/buscar">Buscar Pedido</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">Reportes</a>
            <ul>
                <li>
                    <a href="/reportes/categorias">Categorías</a>
                </li>

                <li>
                    <a href="/reportes/catalogo">Catálogo x Categoría</a>
                </li>

                <li>
                    <a href="/reportes/pedidos">Reporte Pedidos</a>
                </li>

                <li>
                    <a href="/reportes/pedidos-pais-cliente">Pedidos por País y Cliente</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="/contacto">Contacto</a>
        </li>
        <li>
    <a href="/empleom/busqueda-ofertas">Buscar Ofertas</a>
</li>
    </ul>
</nav>