<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>

    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<%- include('Partials/Menu') %>

<div class="contenedor">

    <h1>Contacto</h1>

   <div class="form-contacto">

    <h2>📩 Contáctanos</h2>

    <form action="/contacto" method="POST">

        <label>Nombre</label>
        <input
        type="text"
        name="nombre"
        placeholder="Ingrese su nombre">

        <label>Correo Electrónico</label>
        <input
        type="email"
        name="correo"
        placeholder="correo@ejemplo.com">

        <label>Asunto</label>
        <input
        type="text"
        name="asunto"
        placeholder="Ingrese el asunto">

        <label>Mensaje</label>
        <textarea
        name="mensaje"
        placeholder="Escriba su mensaje aquí..."></textarea>

        <button type="submit">
            📨 Enviar Mensaje
        </button>

    </form>

</div>
</div>

</body>
</html>