<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>

    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<%- include('Partials/Menu') %>

<div class="contenedor">

    <h1>Contacto</h1>

    <p><strong>Empresa:</strong> CDRUS Y REPORTES</p>

    <p><strong>Dirección:</strong> Calle x</p>

    <p><strong>Teléfono:</strong> 999999999</p>

    <p><strong>Email:</strong> gestionreportes@gmail.com</p>

</div>

</body>
</html>