<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>My Negocio</title>

    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>

<%- include('Partials/Menu') %>

<div class="contenedor">

    <h1>MY NEGOCIO WEB</h1>

    <h2>Sistema Comercial</h2>

    <p>
        Bienvenido al sistema de gestión comercial.
    </p>

    <img src="/img/logo.png" width="250">

</div>

</body>
</html>